OAuth 2.0 implementation doesn't support HTTP basic auth

Hi, 

Polar.sh OAuth 2.0 implementation doesn't support HTTP basic auth, as required by [RFC 6749 section 2.3.1](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1).

> The authorization server MUST support the HTTP basic
   authentication scheme for authenticating clients that were issued a
   client password.



Hi @pilcrowOnPaper!

Thank you for your feedback. So, our implementation *do* support `client_secret_basic` authentication. The thing is, we also support [RFC 7591 for Dynamic Client Registration](https://datatracker.ietf.org/doc/html/rfc7591#section-2). And it states that a client can only have **one** authentication mode:

> token_endpoint_auth_method
>    String indicator of the requested authentication method for the
>    token endpoint.  Values defined by this specification are:
> 
>    *  "none": The client is a public client as defined in OAuth 2.0,
>       Section 2.1, and does not have a client secret.
> 
>    *  "client_secret_post": The client uses the HTTP POST parameters
>       as defined in OAuth 2.0, Section 2.3.1.
> 
>    *  "client_secret_basic": The client uses HTTP Basic as defined in
>       OAuth 2.0, Section 2.3.1.

Currently, in our UI we only expose two methods while creating an OAuth2 Client, Confidential (i.e. `client_secret_post`) and Public (i.e. `none`).

<img width="529" alt="Capture d’écran 2024-09-18 à 09 15 47" src="https://github.com/user-attachments/assets/bf465d0f-d110-46ee-acf8-c8d9761816fb">

That's why it gives the impression we do not support `client_secret_basic`.

---

The solution for you if you *really* want to have `client_secret_basic` is to call the API manually to configure the client with that method: https://docs.polar.sh/api/v1/oauth2/register/%7Bclient_id%7D/put

In my humble opinion however, in most cases, you should be fine with `client_secret_post`.

That's a bit unfortunate. I found some discussions on it in some old RFC mailing lists but I guess it's a known spec-level issue. Thanks for the in-depth response!